body{
  background-color: #6b584194;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
button{
  color: #ffffff;
  padding: 5px 20px;
  background-color: #6b584194;
  border-style: none;
  border-radius: 10px;
}
input{
  height: 23px;
}

.assessment{
  color: black;
}
